.bodyOfindexpage{
    position: relative;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.about-container .profile-info .profile-photo img{
    margin-bottom: 10px;
}
.about-container .profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--Color-Background-White, rgba(255, 255, 255, 1));
    box-shadow: 0px 2px 8px 0px rgba(33, 134, 142, 0.12);
    text-align: center;
    width: 100%;
    border-radius: 15px;
    padding: 15px 10px;
}
.about-container .profile-info h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 10px;
}
.about-container .profile-info .profile-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Color-Text-Secondary, rgba(153, 153, 153, 1));
    font-family: Nunito Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.64px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 10px;
}
.about-container .profile-info button{
    height:40px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background: var(--Colors-Primary-500, rgba(60, 151, 175, 1));
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
}
.about-container .about-section, .about-container .projects-history{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    background: var(--Color-Background-White, rgba(255, 255, 255, 1));
    box-shadow: 0px 2px 8px 0px rgba(33, 134, 142, 0.12);
    width: 100%;
    border-radius: 15px;
}
.about-container .about-section .about-header, .about-container .projects-history .projects-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-container .about-section .about-header h1, .about-container .projects-history .projects-header h1{
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.about-container .about-section .about-description p{
    margin-top: 10px;
    color: var(--Color-Text-Secondary, rgba(153, 153, 153, 1));
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.about-container .projects-history .projects-header .project-actions img{
   margin-left: 15px;
}
.about-container .projects-history .project-entry{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    padding-left: 7px;
    border-left: 2px solid var(--Color-Primary-Primary, #3C97AF)

}
.about-container .projects-history .project-entry .project-info h1{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.about-container .projects-history .project-entry .project-info h4{
    color: var(--Color-Text-Secondary, rgba(153, 153, 153, 1));
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.about-container .projects-history .project-entry .project-info p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-decoration-skip-ink: none;
}
.about-section .about-header button{
    background-color: transparent;
    border: none;
}
.about-section .about-description textarea{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #66666621;
    background-color: rgba(141, 141, 141, 0.096);
}
.about-container .profile-info input{
    border: none;
    text-align: center;
    border: 1px solid #66666621;
    margin-top: 6px;
}
