.account-selection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.selection-section {
    grid-column: 2 / 2;
    padding: 2rem;
    justify-content: center;
    width: 620px;
    height: 960px;
    gap: 10px;
    margin-top: 2px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.timer {
    text-align: center;
    font-size: 16px; 
    font-weight: bold;
}

.timer span {
    cursor: pointer;
    text-decoration: underline;
}



.next-button {
    width: 600px;
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
    border: none;
    padding: 15px 0;
    border-radius: 36px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.next-button.active {
    background-color: #3C97AF;
    cursor: pointer;
}

@media (max-width: 620px) and (min-width: 450px) {

    .next-button {
        width: 400px;
        height: 56px;
        border: none;
        border-radius: 36px;
        margin-top: 20px;
        color: #999999;
        cursor: pointer;
        background-color: #ccc;
        transition: background-color 0.3s;
    }

}