.account-selection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.selection-section {
    grid-column: 2 / 2;
    padding: 2rem;
    justify-content: center;
    width: 620px;
    height: 960px;
    gap: 10px;
    margin-top: 2px;
}

.phoneDiv #phoneLabel {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #0A0A0A;
}

.phone-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.country-code-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    height: 48px;
}

.country-flag {
    width: 20px;
    height: 15px;
}

.country-code-input {
    width: 60px; 
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

.phone-number-input {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    height: 48px;
}

.input-active {
    border-color: #4caf50;
}

.next-button {
    width: 600px; 
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
    border: none;
    padding: 15px 0;
    border-radius: 36px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}

.next-button.active {
    background-color: #3C97AF;
    cursor: pointer;
}
